h1,h2,h3,h4,h5,h6,p,span,ul,li{
    margin: 0;
    padding: 0;

}
@font-face {
    font-family: 'Roboto';
    src: url("../assets/Roboto/Roboto-VariableFont_wdth,wght.ttf");
    font-weight: 400;

}
html { 
    font-size: 16px; 
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: black;
}

/* ! Date and time */

.title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 5px 25px;
    margin: 5px 20px;
    border-radius: 5px;
    background-color: #82a274;
    
}
.title{
    flex: 1;
    min-width: 150px;
    text-align: center;
    font-size: 1.5rem;

}
.show-all{
    background-color: #a8c5b6;
    padding: 10px 15px;
    box-shadow: 0px 0px 10px 1px black;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    color: black;
    font-weight: 900;
}

.user-data-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 25px;
    margin: 20px;
    border-radius: 5px;
    background-color: #a8c5b6;
}
.extra-data-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0px 0px 0px 45px;
    border-radius: 5px;
    background-color: #96afa2;
    opacity: 0;
    max-height: 0;
    padding: 0;
    transition: opacity 1s ease-in, padding 1s ease;

}
.active{
    margin: 0px 0px 30px 45px;
    opacity: 1;
    max-height: 100%;
    padding: 15px;

}
h3 {
    flex: 1;
    text-align: center; 
    min-width: 150px; 
}
button{
    background-color: #82a274;
    padding: 10px;
    box-shadow: 0px 0px 10px 1px black;
    color: black;
    cursor: pointer;
    margin-left: 15px;
    font-size: 1rem;

}
.more-btn{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: 900;

}

@media (max-width:900px) {
    .user-data-container{
        padding: 20px;
    }
    .active{
        padding: 10px;
    }
    .title{
        font-size: 1.5rem;
    }
    h3{
        font-size: 1.1rem;
    }
    button{
        padding: 8px;
    }
    .show-all{
        padding: 8px 13px;
        font-size: 1rem;
    }
}
@media (max-width:835px) {
    .user-data-container{
        padding: 20px;
    }
    .active{
        padding: 10px;
    }
    .title{
        font-size: 1.4rem;
    }
    h3{
        font-size: 1rem;
    }
    button{
        padding: 6px;
        font-size: 0.9rem;

    }
    .show-all{
        padding: 7px 12px;

        font-size: 1rem;
    }
}

@media (max-width:760px) {
    .user-data-container{
        padding: 15px;
    }
    .active{
        padding: 8px;
        margin: 0px 0px 20px 45px;

    }
    .title{
        font-size: 1.2rem;
    }
    h3{
        font-size: 0.9rem;
    }
    button{
        padding: 4px;
        font-size: 0.8rem;

    }
    .show-all{
        padding: 7px 11px;
        font-size: 0.9rem;
    }
}

@media (max-width:700px) {
    .user-data-container{
        padding: 15px;
    }
    .active{
        padding: 8px;
        margin: 0px 0px 15px 45px;

    }
    .title{
        font-size: 1.2rem;
    }
    h3{
        font-size: 0.8rem;
    }
    button{
        padding: 4px;
    }
    .show-all{
        padding: 7px 10px;
        font-size: 1rem;
    }
}